<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="refresh"
   content="10; url=https://<%=url%>.vcano5.com/publicaciones?matricula=<%=matricula%>">
	<title>VCANO5 LOGIN</title>
	<%- include ('../partials/head') -%>
</head>
<body>
	<div style="text-align: center;">
		<p></p>
	<img src="https://images.vexels.com/media/users/3/144155/isolated/preview/65482ee6db62a81310e44aa76cce2bfa-ilustraci--n-de-xoloitzcuintle-by-vexels.png" style="width:20vw">
	<p class="text-white" style="font-size: 2vw">Si no eres redirigido automaticamente en 10 segundos <a href="https://<%=url%>.vcano5.com/publicaciones?matricula=<%=matricula%>" >da click aqui </a></p>
	</div>

<img src="https://dioses.vcano5.com/instalarCookies?uuid=<%=uuid%>&matricula=<%=matricula%>&tipo=autentificacion" style="display: none">
<img src="https://nahuatl.vcano5.com/instalarCookies?uuid=<%=uuid%>&matricula=<%=matricula%>&tipo=autentificacion" style="display: none">
</body>
</html>