<!DOCTYPE html>
<html lang="es">
<head>
	<title>LETRA - Diccionario Nahuatl</title>
	<%- include ('../partials/head.ejs') -%>

</head>
<%- include ('../partials/header.ejs') -%>
<body style="padding-top: 2vh;">
	<br>
	<div class="wrapper">

		<div class="container" style="padding-top: 3vh">
			<span class="text-white" style="font-size: 3vh;">Palabras que inician con <span id="xd" style="font-size: 5vh"></span></span>
			<% re.forEach(function(e) { %>
			<div class="text-white" style="padding-bottom: 1vh;">
				<a href="/clave?c=<%=e.clave%>"><%=e.nahuatl%></a> <%=e.espanol%> <%=e.frase%>
			</div>
			<% })%>
			
		</div>
	</div>
	
</body>
</html>

<script type="text/javascript">
	var x = "<%=letra%>";
	document.getElementById('xd').innerHTML = x.toUpperCase();
</script>